.editor {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: #632a50dd;
}

.selectors,
.selectors * {
  display: flex;
  gap: 20px;
  color: #632a50dd;
  align-items: center;
}

button {
  color: #632a50dd;
  align-items: center;
  background-color: #887fcf33;
  padding: 5px;
  border-radius: 5px;
}

label {
  display: flex;
  flex-direction: column;
}
